body {
  background-color : white;
}
h1{
  text-align: left;
}

table, th,tr{/*outter boxes */
  border:3px solid blue;
  border-collapse: collapse;
  text-align: center;

}

th{/*all other boxes not defined*/
  padding: 10px;
  text-align:center;
}
